<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Druid SQL 日志 -->
    <logger name="druid.sql" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="druid.sql.Statement" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="druid.sql.ResultSet" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 项目日志 -->
    <logger name="fun.commons" level="DEBUG"/>

    <!-- SQL 追踪相关 -->
    <logger name="fun.commons.framework4j.datasource.tracing" level="DEBUG"/>

    <!-- Druid -->
    <logger name="com.alibaba.druid" level="DEBUG"/>

    <!-- Spring -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.jdbc" level="DEBUG"/>

    <!-- MyBatis -->
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
